WebContent/wsdl/Student.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://model.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://model.com" xmlns:intf="http://model.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://model.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getName">
    <complexType/>
   </element>
   <element name="getNameResponse">
    <complexType>
     <sequence>
      <element name="getNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setName">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setNameResponse">
    <complexType/>
   </element>
   <element name="getEmailId">
    <complexType/>
   </element>
   <element name="getEmailIdResponse">
    <complexType>
     <sequence>
      <element name="getEmailIdReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setStudentId">
    <complexType>
     <sequence>
      <element name="studentId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setStudentIdResponse">
    <complexType/>
   </element>
   <element name="setDepartment">
    <complexType>
     <sequence>
      <element name="department" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setDepartmentResponse">
    <complexType/>
   </element>
   <element name="setEmailId">
    <complexType>
     <sequence>
      <element name="emailId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setEmailIdResponse">
    <complexType/>
   </element>
   <element name="getStudentId">
    <complexType/>
   </element>
   <element name="getStudentIdResponse">
    <complexType>
     <sequence>
      <element name="getStudentIdReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDepartment">
    <complexType/>
   </element>
   <element name="getDepartmentResponse">
    <complexType>
     <sequence>
      <element name="getDepartmentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="setEmailIdResponse">

      <wsdl:part element="impl:setEmailIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNameResponse">

      <wsdl:part element="impl:getNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNameResponse">

      <wsdl:part element="impl:setNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setStudentIdRequest">

      <wsdl:part element="impl:setStudentId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setEmailIdRequest">

      <wsdl:part element="impl:setEmailId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDepartmentRequest">

      <wsdl:part element="impl:getDepartment" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStudentIdResponse">

      <wsdl:part element="impl:getStudentIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEmailIdRequest">

      <wsdl:part element="impl:getEmailId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setDepartmentResponse">

      <wsdl:part element="impl:setDepartmentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setStudentIdResponse">

      <wsdl:part element="impl:setStudentIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNameRequest">

      <wsdl:part element="impl:setName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStudentIdRequest">

      <wsdl:part element="impl:getStudentId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDepartmentResponse">

      <wsdl:part element="impl:getDepartmentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEmailIdResponse">

      <wsdl:part element="impl:getEmailIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNameRequest">

      <wsdl:part element="impl:getName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setDepartmentRequest">

      <wsdl:part element="impl:setDepartment" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Student">

      <wsdl:operation name="getName">

         <wsdl:input message="impl:getNameRequest" name="getNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getNameResponse" name="getNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setName">

         <wsdl:input message="impl:setNameRequest" name="setNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:setNameResponse" name="setNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getEmailId">

         <wsdl:input message="impl:getEmailIdRequest" name="getEmailIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getEmailIdResponse" name="getEmailIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setStudentId">

         <wsdl:input message="impl:setStudentIdRequest" name="setStudentIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:setStudentIdResponse" name="setStudentIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setDepartment">

         <wsdl:input message="impl:setDepartmentRequest" name="setDepartmentRequest">

       </wsdl:input>

         <wsdl:output message="impl:setDepartmentResponse" name="setDepartmentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setEmailId">

         <wsdl:input message="impl:setEmailIdRequest" name="setEmailIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:setEmailIdResponse" name="setEmailIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStudentId">

         <wsdl:input message="impl:getStudentIdRequest" name="getStudentIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStudentIdResponse" name="getStudentIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDepartment">

         <wsdl:input message="impl:getDepartmentRequest" name="getDepartmentRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDepartmentResponse" name="getDepartmentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StudentSoapBinding" type="impl:Student">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getEmailId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEmailIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getEmailIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setStudentId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setStudentIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setStudentIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setDepartment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setDepartmentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setDepartmentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setEmailId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setEmailIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setEmailIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStudentId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStudentIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStudentIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDepartment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDepartmentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDepartmentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StudentService">

      <wsdl:port binding="impl:StudentSoapBinding" name="Student">

         <wsdlsoap:address location="http://localhost:8080/AjaxCurdjTableServlet/services/Student"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
